/* unvisited link */
a:link { color: hotpink; }

/* visited link */
a:visited { color: hotpink; }

/* mouse over link */
a:hover { color: hotpink; }

/* selected link */
a:active { color: hotpink; }

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
